<!DOCTYPE html>
<html>
<head>

    <ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#Quizzes">Quizzes</a></li>
        <li><a href="#Links">Links</a></li>
    </ul>
    
<title>Quiz Title</title>
</head>
<body>
    

<h1>Place Quiz information here</h1>

{% for (id, quiz_id, question_text, opt1, opt2, opt3, answer_num, image_url) in questions %}
	<p>{{ question_text }}</p>
	<ul>
		<li>{{opt1}}</li>
		<li>{{opt2}}</li>
		<li>{{opt3}}</li>
	</ul>
{% endfor %}



<button class="Submit"></button>

</body>
</html>
