<!DOCTYPE html>
<html>
<head>

    <ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="#Quizzes">Quizzes</a></li>
        <li><a href="#Links">Links</a></li>
    </ul>
    
<title>Quizzes</title>
</head>
<body>

<h1>Subject Name</h1>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

<h2>Quiz Title</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

<h2>Quiz Title</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">


<h1>Subject Name 2</h1>

<h2>Quiz Title 2</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

<h2>Quiz Title 2</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">

<h2>Quiz Title 2</h2>
<img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">


{% for subject_id in quizzes_by_subject %}
	{% set quizzes = quizzes_by_subject[subject_id] %}
	<h1>{{ quizzes[0][2] }}</h1>

	{% for (quiz_id, quiz_name, _, _) in quizzes %}
		<h2>{{ quiz_name }}</h2>
		<p>quiz ID = {{quiz_id}}</p>
	{% endfor %}
{% endfor %}

</body>
</html>
