<!DOCTYPE html>
<html>
  <head>
    <title>Quizzes</title>
    {{ bootstrap.load_css() }} {% import 'header.html' as header %}
  </head>
  <body>
    {{ header.header('QUIZZES') }}

    <div class="container">
      {% for subject_id in quizzes_by_subject %} {% set quizzes =
      quizzes_by_subject[subject_id] %}
      <h1 class="mt-3">{{ quizzes[0][2] }}</h1>

      {% for (quiz_id, quiz_name, subject_name, image_url) in quizzes %}
      <a
        class="card"
        style="width: 25rem"
        href="{{ url_for('get_quiz', quiz_id=quiz_id) }}"
      >
        <img class="card-img-top" src="{{image_url}}" alt="Card image cap" />
        <div class="card-body">
          <h2 class="text-center">{{ quiz_name }}</h2>
        </div>
      </a>

      {% endfor %} {% endfor %}
    </div>
  </body>
</html>
